// Place all the styles related to the squares controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.squares-container {
  @include clearfix;
  @include square-bg(1);
}

.square {
  @include square(1);
  padding: 0;
  background: #eee;
  position: relative;
  display: block;
  float: left;

  .controls {
    background: rgba(255,255,255,0.8);
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 5px;
  }
}

.text-square {
  padding: 30px;
  font-size: 14px;
  text-align: justify;
}

.new-square-button-container {
  @include clearfix;
  @include square(1);
  @include square-bg(2);

  .new-square-button {
    @include square(2);
    line-height: $square-size / 2;
    text-align: center;
    font-size: 60px;
    background: rgba(255,255,255,0.7);
    color: #333;

    &:hover {
      background: rgba(255,255,255,0.8);
      color: #333;
    }
  }
}

.square.size-1 { width: $square-size; }
.square.size-2 { width: $square-size * 2; }

.variant-1 { background-color: #000; color: white; }
.variant-2 { background-color: #002; color: white; }
.variant-3 { background-color: #023; color: white; }
.variant-4 { background-color: #ffc; }
.variant-5 { background-color: #cfc; }
.variant-6 { background-color: #9fc; }